streamlit==1.24.1
pillow==9.5.0
matplotlib==3.8.4
pandas>=2.0.0
numpy==1.26.4
plotly>=5.20.0
folium==0.15.1
streamlit-folium==0.13.0
streamlit-lottie==0.0.5
requests
cohere==4.40
supabase
pyarrow<19.0.0